body {
    background: darkorange;
}

aside {
    float: left;
    background: #9e0000;
    width: 20%;
    padding: 2.5%;
    height: 200vh;
    color: white;
    border-right:5px solid white;
}
aside img{
    width: 100px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 5px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3{
    margin-top: 50px;
    font-size: 40px;
}

aside ul{list-style-type: none;}
aside ul li{
    color: white;
    display: block;
    margin-top: 20px;
    transition: all .6s ease;
}

aside ul li:hover, aside ul a:hover{
    color: black;
    text-decoration: none;
    transform: scale(1.05);
}

aside a{
    text-decoration: none;
}

main .features{

    float: left;
    color: white;
    margin-top: 100px;
    text-align: center;
    width: 75%;

}

main .features h1{
    font-size: 50px;
    margin-top: -80px ;
    margin-bottom: 50px ;
}


@keyframes flipIn {
    from {
        transform: rotateX(-90deg);
        opacity: 0;
    }
    to {
        transform: rotateX(0);
        opacity: 1;
    }
}


.alert-warning {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction :column ;
    margin: 0 auto 20px auto;
    width: 800px;
    background: rgba(244, 172, 133, 0.54);
    color: white;
    opacity: 100%;
    animation: flipIn 0.8s ease-in-out;
}

main .features p{max-width: 700px; margin: 20px auto;}